<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <span id='logo'>SOMNIUM</span>        
        <menu>
            <ul>
                <li><a href="#">Проекты</a></li>
                <li><a href="/project">Создать проект</a></li>
                <li><a href="#">Специалисты</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </menu>
        <a href="signin">Войти</a>
    </header>
</body>
</html>